workflows/test-workflow-basic.json
{
  "name": "Test Workflow - Politechnika PCZ",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n",
        "authentication": "none",
        "options": {}
      },
      "id": "http-request-1",
      "name": "GitHub API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repository",
              "value": "={{ $json.name }}"
            },
            {
              "name": "stars",
              "value": "={{ $json.stargazers_count }}"
            },
            {
              "name": "forks",
              "value": "={{ $json.forks_count }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-node-1",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GitHub API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub API Request": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
